<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
</head>
<h2> login</h2>
<form action="/submit",method="POST">
    <label> username</label>
    <input type="text",name="username" placeholder="enter user name"><br><br>
    <label>password</label>
    <input type="text" name="password" placeholder="enter password"><br><br>
    <input type="submit" value="login"
</form>
<body>
    
</body>
</html>